{# …/HouseWiki/housewiki/home/templates/housewiki/base.html #}

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/housewiki.css' %}" rel="stylesheet">

    <!-- <meta http-equiv="Content-Security-Policy" content=" default-src 'self'; script-src 'sha256-87tmJunVRGpRJq+ZT1YF1o3mu1aod28VFkUXjYSA4Hg='; style-src 'self' 'unsafe-inline' https://unpkg.com https://fonts.googleapis.com; font-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com"> -->
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self';
      style-src 'self' 'unsafe-inline' https://unpkg.com https://fonts.googleapis.com;
      font-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com
    ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo|Ubuntu+Mono" />

  </head>
  <body>
    <div id="parent-wrapper">
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

    <div id="sidebar">
      <h1>HouseWiki</h1>
      <p>Thoughts, questions &amp; opinions about the home buying process.</p>
      {# <h3>Most Recently Asked Questions</h3> #}
      {# {% show_latest_questions 3 %} #}


      <!--<h3 class="hidden-h3">Favorite Property</h3>-->
      <!--<ul>-->
        {# {% for property in favorite_properties %} #}
          <!--<li>-->
            <!--<a href="{{ property.get_absolute_url }}">{{ property.title }}</a>-->
          <!--</li>-->
        {# {% endfor %} #}
      <!--</ul>-->
    </div>

    </div>

    <!--<script integrity="sha256-zohOg3SwlUrus6PMcRkavLAIaP05dCfH2mXx15NfnOE=" crossorigin="anonymous">

    </script>-->
    <!-- <script src="{% static 'js/expando.js' %}" integrity="sha256-87tmJunVRGpRJq+ZT1YF1o3mu1aod28VFkUXjYSA4Hg=" crossorigin="anonymous"></script> -->
  </body>
</html>
