{# …/HouseWiki/housewiki/home/templates/housewiki/base.html #}

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/housewiki.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="parent-wrapper">
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

    <div id="sidebar">
      <h2>HouseWiki</h2>
      <p>Thoughts, questions &amp; opinions about the home buying process.</p>
      {# <h3>Most Recently Asked Questions</h3> #}
      {# {% show_latest_questions 3 %} #}
      <ul class="nav-links">


        <li class="sidebar-li">
          <a href="{{ request.protocol }}{{ request.host }}{{ milestones }}" class="heading-link">
            Milestones
          </a>
        </li>
        <li class="sidebar-li">
          <a href="{{ request.protocol }}{{ request.host }}{{ questions }}" class="heading-link">
            Questions
          </a>
        </li>
        <li class="sidebar-li">
          <a href="{{ request.protocol }}{{ request.host }}{{ wishes }}" class="heading-link">
            Wish List
          </a>
        </li>
        <li class="sidebar-li">
          <a href="{{ request.protocol }}{{ request.host }}{{ tips }}" class="heading-link">
            Knowledge &amp; Tips
          </a>
        </li>
        <li class="sidebar-li">
          <a href="{{ request.protocol }}{{ request.host }}{{ things_to_consider }}" class="heading-link">
            Things To Consider
          </a>
        </li>
      </ul>

      <h3 class="hidden-h3">Favorite Property</h3>
      {# {% get_favorite_properties as favorite_properties %} #}
      <ul>
        {% for property in favorite_properties %}
          <li>
            <a href="{{ property.get_absolute_url }}">{{ property.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    </div>
  </body>
</html>
