{% extends "housewiki/dashboard/index.html" %}

{% load static %}

{% block subpagecss %}
  <link href="{% static 'css/housewiki_questions.css' %}" rel="stylesheet">
  <link href="{% static 'css/housewiki_shared.css' %}" rel="stylesheet">
{% endblock subpagecss %}

{% block title %}Questions{% endblock title %}
{# {% autoescape off %} #}

  {# {% block content %} #}
    {# {{ block.super }} #}

  {% block questions %}
  {# {% if question_list_all %} #}

    <ul class="list-ul-container" id="list-ul-container-id">
    {% for question_item in question_list_all %}
      <li class="list-item">
        {{ question_item.title|capfirst }}
      </li>
      {% if question_item.answered %}
        <li class="list-item">Answer: {{ question_item.answer }}</li>
      {% else %}
        {# <span class="question-answered"> #}
        <li class="list-item" style="list-style: none; padding: 0">
          <a href="{{ request.protocol }}{{ request.host }}/housewiki/questions/answer/{{ question_item.slug|truncatewords:15 }}/"
            class="heading-a-link" style="padding: 0">answer question</a>
          <a href="{{ request.protocol }}{{ request.host }}/housewiki/questions/edit/{{ question_item.slug|truncatewords:15 }}/"
            class="heading-a-link">edit</a>
          <a href="{{ request.protocol }}{{ request.host }}/housewiki/questions/delete/{{ question_item.slug|truncatewords:15 }}/"
            class="heading-a-link">delete</a>
        </li>

      {% endif %}
    {% endfor %}
    </ul>
    {# {% endif %} #}

    {# </li> #}

  {% endblock questions %}

{# {% endblock content %} #}
{# {% endautoescape %} #}


